body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 10px;
}

/* BATTLE */
.battle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
}

.side img {
  width: 120px;
  height: 120px;
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
}

/* CENTER */
.center {
  width: 200px;
}

/* BUTTONS */
.buttons {
  margin-top: 30px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button img {
  width: 80px;
  transition: 0.2s;
}

button img:hover {
  transform: scale(1.1);
}
